# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/

# Native
android/.gradle/
android/build/
android/app/build/
ios/build/
ios/Pods/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.log
.temp/
